 @model MyPaySlipLive.Models.CompanyViewModel

<!doctype html>
<html class="no-js h-100" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Admin  Dashboard</title>

    <style type="text/css">
        .login-form {
        }

            .login-form form {
                margin-bottom: 15px;
                background: #f7f7f7;
                box-shadow: 0px 3px 20px -7px rgba(0, 0, 0, 0.3);
                padding: 30px;
            }

            .login-form h2 {
                margin: 0 0 15px;
            }

        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }

        .btn {
            font-size: 15px;
            font-weight: bold;
        }
    </style>
</head>
<body class="h-100">
    <div class="container-fluid">
        <div class="row">
            <main class="main-content col-lg-12 col-md-12 col-sm-12 p-0">
                <div class="main-navbar sticky-top bg-info p-2 d-flex ">
                    <!-- Main Navbar -->
                    <div class="container">
                        <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0 row" >

                            <div class="col-7 col-lg-2">
                                <form action="#" class="main-navbar__search w-100 d-md-flex d-lg-flex">
                                    <div class="input-group input-group-seamless ml-3">
                                        <a href="/"><img src="~/images/logo/logo.png" width="180"></a>
                                    </div>
                                </form>
                            </div>
                        </nav>

                    </div>
                </div>
                <!-- / .main-navbar -->
                <div class="main-content-container container px-4">

                    <!-- Page Header -->
                    <div class="page-header row mt-4">
                        <div class="d-block w-100 col-12 col-lg-9">
                            <ul class="d-flex menu-list">
                                 @* <li><a>Manage Company</a></li> *@
                                <li><a asp-area="" asp-controller="SuperAdmin" asp-action="AddBlog">Add Blog</a></li>
                                <li><a asp-area="" asp-controller="SuperAdmin" asp-action="PaySlipDashBoard">Export Slip</a></li>
                                <li><a asp-area="" asp-controller="Account" asp-action="Logout">logout</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Page Header -->
                    <!-- Default Light Table -->
                    <div class="login-form">
                        <form method="post" asp-action="ManageCompany">
                            <h4 class="text-center">MANAGE COMPANY</h4>
                            <input type="hidden" name="CompanyOBJ.Id" value="@Model.CompanyOBJ.Id" />
                            <!-- Company Name Input -->
                            <div class="form-group">

                                <input type="text" name="CompanyOBJ.Name" class="form-control" placeholder="Name" required="required" value="@Model.CompanyOBJ.Name" autocomplete="off">
                            </div>

                            <!-- Company Code Input -->
                            <div class="form-group">
                                <input type="text" name="CompanyOBJ.Code" class="form-control" placeholder="Code" required="required" value="@Model.CompanyOBJ.CompanyCode" autocomplete="off">
                            </div>

                            <div class="form-group">
                                <input type="email" name="CompanyOBJ.Email" class="form-control" placeholder="Email" value="@Model.CompanyOBJ.Email" autocomplete="off">
                            </div>

                            <!-- Admin Password Input -->
                            <div class="form-group">
                                <input type="password" name="CompanyOBJ.Password" class="form-control" id="passwordField" placeholder="Admin Password" required="required" value="@Model.CompanyOBJ.Password" autocomplete="off">
                                <input type="checkbox" id="showPassword" onclick="togglePassword()"> Show Password
                            </div>

                            <!-- Activated Checkbox -->
                            <div class="custom-control custom-checkbox mb-1">
                                <input type="checkbox" asp-for="CompanyOBJ.IsActive" class="custom-control-input" id="activatedCheckbox"  >
                                <label class="custom-control-label" for="activatedCheckbox">Activated</label>
                            </div>

                            <!-- Submit Button -->
                            @*   <div class="form-group mt-2">
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </div> *@
                            <div class="form-group mt-2">
                                <button type="submit" class="btn btn-primary btn-block"> @(Model.CompanyOBJ.Id == Guid.Empty ? "Add Company" : "Update Company")</button>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card card-small mb-4">
                                <div class="card-header border-bottom">
                                    <h6 class="m-0">Company Listing</h6>
                                </div>
                                <div class="card-body p-0 pb-3 text-center">
                                    <table class="table mb-0">
                                        <thead class="bg-light">
                                            <tr>
                                                <th scope="col" class="border-0">#</th>
                                                <th scope="col" class="border-0">Name</th>
                                                <th scope="col" class="border-0">Code</th>
                                                <th scope="col" class="border-0">IsActive</th>
                                                <th scope="col" class="border-0">Action</th>
                                            </tr>
                                        </thead>
                                        @if (Model.CompanyList != null && Model.CompanyList.Any())
                                        {
                                            int SNo = (Model.CurrentPageSize * Model.CurrentPage) - Model.CurrentPageSize;
                                            @foreach (var company in Model.CompanyList)
                                            {
                                                SNo++;
                                                <tbody>


                                                    <tr>
                                                        <td>@SNo</td>
                                                        <td>@company.Name</td>
                                                        <td>@company.CompanyCode</td>
                                                        <td>@company.IsActive</td>
                                                        <td><a asp-action="EditCompany" asp-route-id="@company.Id" class="mb-2 btn btn-sm btn-outline-primary mr-1">Edit</a></td>
                                                    </tr>



                                                </tbody>
                                            }
                                            @if(Model.TotalPages > 1)
                                            {
                                                <nav aria-label="Page navigation" class="m-4">
                                                    <ul class="pagination">
                                                        @for (var i = 1; i <= Model.TotalPages; i++)
                                                        {
                                                            <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                                                                <a class="page-link" asp-action="Dashboard" asp-route-pageNumber="@i">@i</a>
                                                                @* <a class="page-link" onclick="CompanyList(@i)">@i</a> *@
                                                            </li>
                                                        }
                                                    </ul>
                                                </nav>
                                            }
                                           

                                        }
                                        else
                                        {

                                            <div>No Record Found!!</div>


                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End Default Light Table -->


                <script>
                    function togglePassword() {
                        var passwordField = document.getElementById("passwordField");
                        var showPassword = document.getElementById("showPassword");

                        if (passwordField.type === "password") {
                            passwordField.type = "text";
                        } else {
                            passwordField.type = "password";
                        }
                    }
                </script>
</body>
</html>